$firstPurple: #1001B5;
$deepPurple: #070473;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Helvetica, sans-serif;
}

.App {
    height: 100vh;
    background-color: $firstPurple;
    color: white;
    max-width: 100vw;
    width: 100vw;
}