nav {
    ul {
        list-style-type: none;
        display: flex;

        li {
            padding: 3rem 5rem 3rem 0rem;
            font-weight: bold;
        }
    }

}

@media screen and (max-width: 800px) {
    nav {
        height: 10%;

        ul {
            li {
                padding: 1rem 2rem 1rem 0;
            }
        }

    }
}

@media screen and (max-width: 400px) {
    nav {
        height: 8%;

        ul {
            flex-wrap: wrap;

            li {
                font-size: .8rem;
                padding: .5rem;
            }
        }

    }
}